source "drivers/huawei_platform/usb/pd/richtek/Kconfig"
source "drivers/huawei_platform/usb/pd/rt1715/Kconfig"
config HUAWEI_PD
        bool "huawei_pd"
        default n

config HUAWEI_PD_THIRDPARTY
        bool "huawei_pd_thirdparty"
        default n

config SUPPORT_USB_PD30
        bool "support_pd30_rt1715"
        default n
